{
  "openapi": "3.1.1",
  "info": {
    "title": "Security Compliance Auditor API",
    "version": "2026.1.1"
  },
  "servers": [
    {
      "url": "https://alpha7-audit.m4ckdev.com",
      "description": "Security Compliance Auditor API"
    }
  ],
  "paths": {
    "/post": {
      "post": {
        "operationId": "submitComplianceAudit",
        "summary": "Submit compliance audit",
        "description": "Audit user-provided prompt text for common security and compliance risks.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check API health",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuditRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Prompt text supplied by the user for security review"
          },
          "context": {
            "type": "string",
            "description": "Optional context for the audit"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "category": {"type": "string"},
          "matches": {
            "type": "array",
            "items": {"type": "string"}
          },
          "severity": {"type": "string"}
        }
      },
      "AuditResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string"},
          "audit_id": {"type": "string"},
          "compliance": {"type": "string"},
          "findings": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Finding"}
          },
          "recommendations": {
            "type": "array",
            "items": {"type": "string"}
          },
          "context_received": {"type": "boolean"}
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
